@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'EliceDXNeolli';
  background-color: #040d12;
}

@font-face {
  font-family: 'EliceDXNeolli';
  font-weight: 700;
  src: url('/fonts/EliceDXNeolli-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'EliceDXNeolli';
  font-weight: 500;
  src: url('/fonts/EliceDXNeolli-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'EliceDXNeolli';
  font-weight: 300;
  src: url('/fonts/EliceDXNeolli-Light.ttf') format('truetype');
}
