@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

@font-face {
  font-family: 'GillSans';
  font-weight: 900;
  src: url('/fonts/GillSans-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'GillSans';
  font-weight: 700;
  src: url('/fonts/GillSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'GillSans';
  font-weight: 500;
  src: url('/fonts/GillSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'GillSans';
  font-weight: 300;
  src: url('/fonts/GillSans-Light.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 900;
  src: url('/fonts/NanumSquareNeo-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 800;
  src: url('/fonts/NanumSquareNeo-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 700;
  src: url('/fonts/NanumSquareNeo-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 400;
  src: url('/fonts/NanumSquareNeo-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 300;
  src: url('/fonts/NanumSquareNeo-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('/fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  src: url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  src: url('/fonts/Gilroy-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 100;
  src: url('/fonts/Gilroy-Thin.ttf') format('truetype');
}

/* inspired form gumroad website */
.pop-button {
  width: 100%;
  height: 3.75rem;
  --bg: #fff;
  --hover-bg: #c5fa3d;
  --hover-text: #000;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 1.25rem;
  background: var(--bg);
  transition: 0.2s;
}

.pop-button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem #000;
}

.pop-button:active {
  transform: translate(0);
  box-shadow: none;
}
